{% extends "base.html" %}

{% block content %}

<h2> Quiz Creation </h2>


<form method="post">
    <table>
        <tr>
            <td><label for="title">Quiz Name</label></td>
            <td>
                <input name="title" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="question1">First Question</label></td>
            <td>
                <input name="question1" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answera1">First Answer - a</label></td>
            <td>
                <input name="answera1" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerb1">Second Answer - b</label></td>
            <td>
                <input name="answerb1" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerc1">Third Answer - c</label></td>
            <td>
                <input name="answerc1" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerd1">Fourth Answer - d</label></td>
            <td>
                <input name="answerd1" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="correct1">Correct Answer (a, b, c, d)</label></td>
            <td>
                <input name="correct1" type="text">
            </td>
        </tr>

        <tr>
            <td><label for="question2">Second Question</label></td>
            <td>
                <input name="question2" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answera2">First Answer - a</label></td>
            <td>
                <input name="answera2" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerb2">Second Answer - b</label></td>
            <td>
                <input name="answerb2" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerc2">Third Answer - c</label></td>
            <td>
                <input name="answerc2" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerd2">Fourth Answer - d</label></td>
            <td>
                <input name="answerd2" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="correct2">Correct Answer (a, b, c, d)</label></td>
            <td>
                <input name="correct2" type="text">
            </td>
        </tr>

        <tr>
            <td><label for="question3">Third Question</label></td>
            <td>
                <input name="question3" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answera3">First Answer - a</label></td>
            <td>
                <input name="answera3" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerb3">Second Answer - b</label></td>
            <td>
                <input name="answerb3" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerc3">Third Answer - c</label></td>
            <td>
                <input name="answerc3" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerd3">Fourth Answer - d</label></td>
            <td>
                <input name="answerd3" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="correct3">Correct Answer (a, b, c, d)</label></td>
            <td>
                <input name="correct3" type="text">
            </td>
        </tr>

        <tr>
            <td><label for="question4">Fourth Question</label></td>
            <td>
                <input name="question4" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answera4">First Answer - a</label></td>
            <td>
                <input name="answera4" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerb4">Second Answer - b</label></td>
            <td>
                <input name="answerb4" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerc4">Third Answer - c</label></td>
            <td>
                <input name="answerc4" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerd4">Fourth Answer - d</label></td>
            <td>
                <input name="answerd4" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="correct4">Correct Answer (a, b, c, d)</label></td>
            <td>
                <input name="correct4" type="text">
            </td>
        </tr>

        <tr>
            <td><label for="question5">Fifth and Last Question</label></td>
            <td>
                <input name="question5" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answera5">First Answer - a</label></td>
            <td>
                <input name="answera5" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerb5">Second Answer - b</label></td>
            <td>
                <input name="answerb5" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerc5">Third Answer - c</label></td>
            <td>
                <input name="answerc5" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="answerd5">Fourth Answer - d</label></td>
            <td>
                <input name="answerd5" type="text">
            </td>
        </tr>
        <tr>
            <td><label for="correct5">Correct Answer (a, b, c, d)</label></td>
            <td>
                <input name="correct5" type="text">
            </td>
        </tr>

    </table>
    <input type="submit">
</form>

{% endblock %}
